:root{
  --line: rgba(255,255,255,0.25);
}

body{
  margin: 0;
  padding: 20px;
  background-image: url("images/pexels-alex-ning-523843601-34919605.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

}
.card{
  width: 100%;
  max-width: 700px;

  display: grid;

  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;

  grid-template-areas: 
  "box1 box1"
  "box2 box3";

  background-color: rgba(18, 23, 11, 0.5);
  border: 2px solid white;
  border-radius: 12px;
  box-shadow: 5px 5px 20px black;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;

}
.box{
  padding: 10px 55px;
}
.box1-desc{
  display: flex;
  flex-direction: column;
}
.box2-desc{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.box3-desc{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.box1-desc .secondPara{
  max-width: 53ch;
}
.box3-desc{
  max-width: 26ch;
}
.box1-desc h2{
  color: rgb(0, 255, 55);
  font-size: 42px;
  letter-spacing: 2px;
}
.box1-desc .firstPara{
  color: rgb(251, 132, 112);
  font-size: 22px;
}
.box1-desc .secondPara{
  font-size: 18px;
  line-height: 1.5;
}
.box2-desc h2{
  color: rgb(0, 255, 55);
  letter-spacing: 2px;
  line-height: 1.2;
}
.box2-desc .price{
  display: flex;
  flex-direction: row;
  gap: 15px;
  color: rgb(251, 132, 112);
  font-size: 22px;
}
.box2-desc p{
  font-size: 18px;
}
.box2-desc button{
  font-size: 16px;
  padding: 12px;
  border-radius: 12px;
  background-color: rgba(69, 73, 65, 0.6);
  color: white;
  border: 2px solid white;
  transition: 0.4s ease;
}
.box3-desc h2{
  font-size: 32px;
  letter-spacing: 2px;
  color: rgb(0, 255, 55);
}
.box3-desc .box3-text{
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 1.3;
  color: rgba(255, 255, 255, 0.795);
  box-shadow: 2px 10px 50px black;
  padding: 10px;

}
.box1{ 
  grid-area:
   box1;
   border-bottom: 2px solid var(--line);
  
}
.box2{
   grid-area:
    box2;
    border-right: 2px solid var(--line);
}
.box3{
   grid-area:
    box3;
}

@media (max-width: 700px){
  body{
    align-items: flex-start;
  }

  .card{
    grid-template-columns: 1fr;
    grid-template-areas:
      "box1"
      "box2"
      "box3";
  }

  .box{
    padding: 24px;
  }
}

.box{
  transition: all 0.4s ease;
}
.box1:hover{
  background-color: #ffffff;
}

.box2:hover{
  background-color: #2bb3b1;
}

.box3:hover{
  background-color: #4abebd;
}
.box1:hover .secondPara{
  color: #334155;
}
.box1:hover h2{
  color:  #0F172A;;
}
.box1:hover .firstPara{
  color: #1F2937;
}
.box2:hover h2{
  color: #0F172A;
}
.box2:hover .price{
  color: #111827;
}
.box3:hover p{
  color: #1F2937;
}
.box3:hover h2{
  color: white;
}
button:hover{
  background-color: green;
  transform: scale(1.1);
}

